body{
    background-image:url(robotbg.jpg);
    background-repeat: no-repeat;
    margin: 0;
}
.content{
    display: flex;
    flex-direction: column;
    margin-left: 700px;
    margin-top: 20px;
    
}
.text{
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 22px;
    line-height: 5px;
}
header{
    background-color: white;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    border:2px solid rgb(199, 199, 199);
    padding: 0px 100px 0px 20px;
    color: rgb(177, 177, 177);
    font-size: 20px;
    height: 45px;
}
.icon{
    width: 20px;
    height: 20px;
    padding-right: 10px;
}
img{
    height: 150px;
    width: 60px ;
}
h1{
    font-size: 80px;
}
